*.idea
*.voice_recognition\__pycache__
voice_recognition/mic_functions/__pycache__/text_to_sound.cpython-311.pyc
voice_recognition/mic_functions/__pycache__/text_to_sound.cpython-311.pyc
rasa\.rasa
voice_recognition\__pycache__
*.neural_network/
neural_network/training.py
neural_network/data_prep/preprocess.py
neural_network/data_prep/save_audio.py
