.idea/
rasa/.rasa/
voice_recognition/__pycache__/
*.neural_network/
neural_network/training.py
neural_network/data_prep/preprocess.py
neural_network/data_prep/save_audio.py
rasa/.rasa
rasa/models
rasa/actions/__pycache__/
voice_recognition/mic_functions/__pycache__/
rasa/actions/__pycache__/
