*.idea
*.voice_recognition\__pycache__
voice_recognition/mic_functions/__pycache__/text_to_sound.cpython-311.pyc
voice_recognition/mic_functions/__pycache__/text_to_sound.cpython-311.pyc
rasa\.rasa
voice_recognition\__pycache__
neural_network